// ---------------------
// Variables
// ---------------------
$maincolor: rgb(214, 38, 200);
$contrastcolor: white;
$alertcolor: red;
$purple: rgb(214, 38, 200);
// google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Secular+One&display=swap');

// ---------------------
// Mixins
// ---------------------


@mixin white-text-teal-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin teal-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

@mixin white-text-red-bg {
  color: $contrastcolor;
  background-color: $alertcolor;
}

// breakpoints mixins for responsive mobile/ screen styling
@mixin breakpoint($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tablet-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tablet-land {
    // 768px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == lg-screen {
    // 768px
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
}
//responsive styling
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  max-width: 114rem;
  padding: 0 8rem;

  @include breakpoint(phone) {
    padding: 0 2rem;
  }
}

.active {
  color: #777 !important;

  @include breakpoint(tablet-port) {
    background-color: #aaa !important;
    color: #333 !important;
  }
}

// ---------------------------------
// Header/ Navigation Bar
// ---------------------------------

.nav {
  background-color: $purple;
  padding: 2rem 4rem;
  height: 8rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0 4rem;

    @include breakpoint(phone) {
      padding: 0;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;

      @include breakpoint(tablet-port) {
        display: none;
      }
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    font-family: "Nunito", sans-serif;

    &:hover {
      color: rgb(255, 196, 0);
    }
  }

  &__logo {
      align-self: flex-start;
    font-size: 2.5rem;
    font-family: "Secular One", sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  &__button {
    display: none;

    @include breakpoint(tablet-port) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 65%;
      margin: 17.5% 0;
      width: 4rem;
      cursor: pointer;

      &:hover {
        height: 70%;
        margin: 15% 0;
      }

      &__component {
        display: none;

        @include breakpoint(tablet-port) {
          display: block;
          height: 0.3rem;
          width: 100%;
          background-color: white;
        }
      }
    }
  }
}

// --------------------------
// BurgerMenu / drop down
// --------------------------

.burgermenu {
  display: none;

  @include breakpoint(tablet-port) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 70%;
    height: 100%;
    transition: transform 0.3s ease-out;
    background-color: #ddd;
    padding: 4rem 2rem;
  }

  &--open {
    transform: translateX(0);
  }

  &--closed {
    transform: translateX(-100%);
  }

  &__backdrop {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.6;
  }

  &__list {
    list-style: none;
    font-size: 2rem;
    width: 100%;

    &__item {
      margin-bottom: 1rem;
    }
  }

  &__logo {
    font-size: 2.5rem;
    font-family: "Secular One", sans-serif;
    color: $purple;
    text-shadow: 1px 1px white;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  &__link {
    display: block;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    background-color: $maincolor;
    color: white;
    margin-top: 10%;
    font-size: .8em;
    font-family: "Nunito", sans-serif;
  }
}
